{{#if link}}
    <a href="{{ href }}" class="brand-button brand-button_variant_{{ variant }}">
        {{ text }}
    </a>
{{^}}
    <button type="{{#if type}}{{type}}{{^}}button{{/if}}" disabled="{{ disabled }}" class="brand-button brand-button_variant_{{ variant }}">
        {{ text }}
    </button>
{{/if}}