<div class="text-input-group">
    <input 
        id="{{id}}"
        type="{{type}}"
        name="{{name}}"
        placeholder="{{placeholder}}"
        required="{{required}}"
    />
    <label for={{id}}>{{label}}</label>
</div>