<div class="profile-field">
    {{#if editable }}
        <label for="{{id}}" class="profile-field__label">{{label}}</label>
        <input 
            id="{{id}}" 
            name="{{name}}" 
            value="{{value}}" 
            placeholder="{{placeholder}}" 
            class="profile-field__value">
        </input>
    {{^}}
        <span class="profile-field__label">{{label}}</span>
        <span class="profile-field__value">{{value}}</span>
    {{/if}}
</div>